body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial';
    background: #000;
}
.navbar-brand{
    font-size: 18px;
}
.row{
    margin-top: 50px;
}
h1{
    /* font-size: 20px; */
    /* background: -webkit-linear-gradient(#FFFF00 #A020F0); */
    color: yellow;
    
}
P{
    color: gray;
}
.bi-fire{
    color: red;
}

.bt{
    color: rgb(187, 13, 187);
}
.img{
    height: 350px;
}
h3{
    color: #fff;
}
.ro{
    text-align: center;
    margin-top: 40px;
}
.col{
display: flex;
width: 150px;
justify-content: space-between;
}
.menu-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: "Lato italic";
    font-weight: bold;
    font-style: 30px;
    color: whitesmoke;
}
.card-1{
    text-align: center;
    background-color: rgb(41, 40, 40);;
    width: 150px;
    color: #fff;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-top{
    width: 80px;
    margin-top: -40px;
}
.card-to{
    width: 50px;
    margin-top: -30px;
}
.card-title{
    font-size: 13px;
}
.cols-2{
    display: flex;
    border: #fff;
    /* height: 90px; */
}
.cols-3{
    display: flex;
    border: #fff;
    margin-top: 50px;
}
.card-2{
    text-align: center;
    background-color: rgb(41, 40, 40);
    width: 150px;
    color: #fff;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px; 
}
.bt{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.p-tag{
    color: grey;
    text-align: center;
    font-size: 12px;
    margin-top: -70px;
}
.heading{
    font-size:20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    color:whitesmoke
}
.bi-wallet2{
    font-size: 40px;
    color: brown;
    /* background-color: yellowgreen;
    width: 100px;
    height: 200px; */
}
.bt-2{
    background-color: rgb(17, 15, 15);
    width: 500px;
    text-align: center;
    border-radius: 5px;
}
.j-heading{
    color: whitesmoke;
    font-size: 15px;

}
.tro{
    font-size: 8px;
}
.col-sm-7{
    display: flex;
}
.bt-3{
    background-color: rgb(17, 15, 15);
    width: 500px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    /* height: ; */
}
/* .carding{
    margin-bottom: 30px;
}
.card-title{
    text-align: center;
    font-family: "Assistant";
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
}
.card-text{
    text-align: center;
    font-family: "Open Sans";
    padding-top: 5px;
}
 */
