body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial';
    background: #000;
}
.navbar-brand{
    font-size: 18px;
}
.row{
    margin-top: 50px;
}
h1{
    /* font-size: 20px; */
    /* background: -webkit-linear-gradient(#FFFF00 #A020F0); */
    color: yellow;
    
}
P{
    color: #fff;
}

.bt{
    color: rgb(187, 13, 187);
}
.img{
    height: 350px;
}
h3{
    color: #fff;
}
.ro{
    text-align: center;
    margin-top: 40px;
}
.menu-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: "Lato italic";
    font-weight: bold;
    font-style: 60px;
    color: whitesmoke;
}
.carding{
    margin-bottom: 30px;
}
.card-title{
    text-align: center;
    font-family: "Assistant";
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
}
.card-text{
    text-align: center;
    font-family: "Open Sans";
    padding-top: 5px;
}
.col{
    background-color: #000;
   
}
.card-img-top{
    width:140px;
}
